@import "./global";

.chat {
  display: grid;
  place-items: center;
  background-color: $background-dark;
  height: 100vh;

  &-wrapper {
    background-color: $background-wrapper;
    width: 90vw;
    height: 100%;
    max-height: 90vh;
    box-shadow: 0 0 10px 1px black;
    border-radius: 10px;
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    background: $background-side;
  }

  &-side {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    color: $white-text;

    &-wrapper {
      display: flex;
      flex-direction: column;
      flex-basis: 90%;
      min-height: 0;
    }

    &-channels {
      padding: 0.4rem;
      min-height: 25%;
      overflow-y: auto;
      margin: 0.5rem 0;
      position: relative;
      border: 2px $background-main solid;
      border-radius: 5px;

      .total-users {
        position: sticky;
        top: 0;
        text-align: center;
        background-color: $background-side;
        padding: 0.4rem;
        z-index: 10;
        border-bottom: 2px $background-main solid;
      }

      li {
        padding: 0.6rem;
        margin: 0.2rem 0;
        border-radius: 1rem;
        display: flex;
        justify-content: flex-start;

        button {
          background: inherit;
          color: inherit;
          margin-left: 0.4rem;
        }
      }
    }

    &-users {
      padding: 1rem;
      overflow-y: auto;
      flex-basis: 65%;
      min-height: 0;

      li {
        &:nth-last-child(n + 2) {
          margin-bottom: 1rem;
        }
      }
    }
  }

  &-main {
    flex-basis: 75%;
    min-width: 0; // BEST TRICK EVER! --https://stackoverflow.com/questions/49747825/flex-basis-behavior-not-as-expected-but-max-width-works
    display: flex;
    flex-direction: column;
    padding-right: 0.2rem;
    background-color: $background-main;
    overflow-y: auto;

    &-messages {
      display: flex;
      flex-direction: column-reverse;
      flex-grow: 1;

      &-block {
        color: $white-text;
        border-radius: 2px;
        margin-left: 0.2rem;
        padding: 0.5rem;
        word-wrap: break-word;
        position: relative;

        &:hover {
          background-color: $background-side;

          .tooltip {
            opacity: 1;
            transition: opacity 0.5s ease;
            transition-delay: 1s;
          }

          .reactions {
            opacity: 1;
          }
        }
        // nth child 1 is the useRef div
        &:nth-child(2) {
          &:hover {
            .reactions {
              transform: translate(-10%, 0);
            }
          }
        }

        &:nth-last-child(1) {
          margin-top: .2rem;
          &:hover {
            .tooltip {
              transform: translateY(0);
            }
          }
        }
      }

      &-header {
        color: $red-text;
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
        margin-bottom: 0.2rem;
      }

      &-user {
      }

      &-date {
      }

      &-text {
        max-width: 90%;
        font-family: "Times New Roman", Times, serif;
      }
    }

    &-msg {
      position: sticky;
      bottom: 0;
      padding: 0 0 0 0.2rem;
      background-color: $background-main;

      input {
        width: calc(100% - 4rem);
        color: $white-text;
      }
    }
  }

  ::-webkit-scrollbar {
    width: 10px;

    &-track {
      background-color: $background-side;
      border-radius: 5px;
    }

    &-thumb {
      background-color: $background-dark;
      border-radius: 5px;
      box-shadow: inset 0 0 4px 2px $background-side;
    }
  }
}

.tooltip {
  position: absolute;
  background-color: $background-dark;
  color: $background-main;
  padding: 0.2rem;
  border-radius: 4px;
  top: 0;
  right: 0;
  width: fit-content;
  transform: translate(0, -110%);
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
  transition-delay: 0s;
}

.reactions {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-dark;
  color: $background-main;
  right: 0;
  bottom: 0;
  width: fit-content;
  padding: 0.3rem;
  border-radius: 1rem;
  transform: translate(-10%, 50%);
  font-size: 1.2rem;
  opacity: 0;

  i {
    &:nth-last-child(n + 3) {
      margin-right: 0.5rem;
    }

    &:hover {
      cursor: pointer;
      color: yellow;
      transform: scale(1.2);
    }
  }
}

.activeChannel {
  background-color: $background-main;
}

@media only screen and (max-width: 768px) {
  .chat-wrapper {
    flex-direction: column;
  }

  .chat-side {
    min-height: 0;
    flex-basis: 50%;

    &-wrapper {
      flex-direction: row;
      justify-content: space-between;
    }

    &-channels {
      padding: 1rem;
      padding-top: 0;
      margin: 0.4rem 0;
      flex-basis: 50%;
    }

    &-users {
      margin: 0.4rem 0;
      flex-basis: 45%;
    }
  }
}

@media only screen and (max-width: 600px) {
  .chat-side-wrapper {
    flex-direction: column;
  }
}
