:root {
  --background-wrapper: rgb(66, 66, 66);
  --background-dark: #232323;
  --background-side: rgb(72, 72, 72);
  --background-main: rgb(113, 113, 113);
  --red-text: #f50057;
  --white-text: rgba(255, 255, 255, 0.762);
}

:root {
  --background-wrapper: rgb(0, 0, 0);
  --background-dark: #1b0056f3;
  --background-side: rgb(198, 240, 243);
  --background-main: #ffffff;
  --red-text: #f50057;
  --white-text: rgb(0, 0, 0);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Architects Daughter", cursive;
  overflow: hidden;
}

button {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  font-family: inherit;
}

li {
  list-style-type: none;
}

input {
  font-family: "Times New Roman", Times, serif !important;
}

.move-left {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.move-right {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.underline {
  position: relative;
  width: 5rem;
  height: 0.3rem;
  background-color: blue;
  margin: 0 auto 2rem auto;
}

.chat {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: var(--background-dark);
  height: 100vh;
}

.chat-wrapper {
  background-color: var(--background-wrapper);
  width: 90vw;
  height: 100%;
  max-height: 90vh;
  -webkit-box-shadow: 0 0 10px 1px black;
          box-shadow: 0 0 10px 1px black;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  background: var(--background-side);
}

.chat-side {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--white-text);
}

.chat-side-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  min-height: 0;
}

.chat-side-channels {
  padding: 0.4rem;
  min-height: 25%;
  overflow-y: auto;
  margin: 0.5rem 0;
  position: relative;
  border: 2px var(--background-main) solid;
  border-radius: 5px;
}

.chat-side-channels .total-users {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-align: center;
  background-color: var(--background-side);
  padding: 0.4rem;
  z-index: 10;
  border-bottom: 2px var(--background-main) solid;
}

.chat-side-channels li {
  padding: 0.6rem;
  margin: 0.2rem 0;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.chat-side-channels li button {
  background: inherit;
  color: inherit;
  margin-left: 0.4rem;
}

.chat-side-users {
  padding: 1rem;
  overflow-y: auto;
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  min-height: 0;
}

.chat-side-users li:nth-last-child(n + 2) {
  margin-bottom: 1rem;
}

.chat-main {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  min-width: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 0.2rem;
  background-color: var(--background-main);
  overflow-y: auto;
}

.chat-main-messages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.chat-main-messages-block {
  color: var(--white-text);
  border-radius: 2px;
  margin-left: 0.2rem;
  padding: 0.5rem;
  word-wrap: break-word;
  position: relative;
}

.chat-main-messages-block:hover {
  background-color: var(--background-side);
}

.chat-main-messages-block:hover .tooltip {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.chat-main-messages-block:hover .reactions {
  opacity: 1;
}

.chat-main-messages-block:nth-child(2):hover .reactions {
  -webkit-transform: translate(-10%, 0);
          transform: translate(-10%, 0);
}

.chat-main-messages-block:nth-last-child(1) {
  margin-top: .2rem;
}

.chat-main-messages-block:nth-last-child(1):hover .tooltip {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.chat-main-messages-header {
  color: var(--red-text);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

.chat-main-messages-text {
  max-width: 90%;
  font-family: "Times New Roman", Times, serif;
}

.chat-main-msg {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  padding: 0 0 0 0.2rem;
  background-color: var(--background-main);
}

.chat-main-msg input {
  width: calc(100% - 4rem);
  color: var(--white-text);
}

.chat ::-webkit-scrollbar {
  width: 10px;
}

.chat ::-webkit-scrollbar-track {
  background-color: var(--background-side);
  border-radius: 5px;
}

.chat ::-webkit-scrollbar-thumb {
  background-color: var(--background-dark);
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 4px 2px var(--background-side);
          box-shadow: inset 0 0 4px 2px var(--background-side);
}

.tooltip {
  position: absolute;
  background-color: var(--background-dark);
  color: var(--background-main);
  padding: 0.2rem;
  border-radius: 4px;
  top: 0;
  right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transform: translate(0, -110%);
          transform: translate(0, -110%);
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.activeChannel {
  background-color: var(--background-main);
}

@media only screen and (max-width: 768px) {
  .chat-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .chat-side {
    min-height: 0;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .chat-side-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .chat-side-channels {
    padding: 1rem;
    padding-top: 0;
    margin: 0.4rem 0;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .chat-side-users {
    margin: 0.4rem 0;
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}

@media only screen and (max-width: 600px) {
  .chat-side-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

:root {
  --background-wrapper: rgb(66, 66, 66);
  --background-dark: #232323;
  --background-side: rgb(72, 72, 72);
  --background-main: rgb(113, 113, 113);
  --red-text: #f50057;
  --white-text: rgba(255, 255, 255, 0.762);
}

:root {
  --background-wrapper: rgb(0, 0, 0);
  --background-dark: #1b0056f3;
  --background-side: rgb(198, 240, 243);
  --background-main: #ffffff;
  --red-text: #f50057;
  --white-text: rgb(0, 0, 0);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Architects Daughter", cursive;
  overflow: hidden;
}

button {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  font-family: inherit;
}

li {
  list-style-type: none;
}

input {
  font-family: "Times New Roman", Times, serif !important;
}

.move-left {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.move-right {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.underline {
  position: relative;
  width: 5rem;
  height: 0.3rem;
  background-color: blue;
  margin: 0 auto 2rem auto;
}
/*# sourceMappingURL=index.css.map */