@import "./screens/ChatScreen";
@import "./screens/HomeScreen";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Architects Daughter', cursive;
  overflow: hidden;
}

button {
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  font-family: inherit;
}

li {
  list-style-type: none;
}

.move-left {
  transform: translateX(-100%);
}

.move-right {
  transform: translateX(100%);
}

.underline {
  position: relative;
  width: 5rem;
  height: .3rem;
  background-color: blue;
  margin: 0 auto 2rem auto;
}